{{!-- <div class="container-fluid">
    <div class="wrapper">
        <header>
            <h1>Welcome to BlogginBow</h1>
        </header>
        <section class="section-home">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>
                <li><a href="#">Read Blogs</a></li>
                <li><a href="#">Meet our Authors</a></li>
            </ul>
        </section>
    </div>


</div> --}}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">BlogginBow</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#read-blogs">Read Blogs</a>
                </li>
                <li>
                    <a
                        href="mailto:akki5233@@gmail.com?cc=blogginbowsupport@example.com&subject=Query Regarding BlogginBow">Contact</a>
                </li>
                <li>
                    <a href="/auth/login">Login</a>
                </li>
                <li>
                    <a href="/auth/signup">Signup</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->

<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>BlogginBow</h1>
                    <hr class="small">
                    <span class="subheading">A heaven created solely for writers</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="about">
            <p>Blogginbow is an online blogging platform for creative and aspiring writers. We provide the authors a
                clean
                UI and Blog writing section to ease up their work while they are pen down their thhoughts, experience,
                knowledge, adventure and case studies. A user can also maintain a profile which will conatin their
                personal
                info as well as many features like Creating a Blogpost, Editing a blogpost, Uploading pictures, Reading
                blogs, Password reset, Commenting on other blogs.</p>
            <p>We at blogginbow review all the blogs posted by diffrent authors and only allow an author to keep
                publishing
                if we find their content free from Plagiarism, and without any offensive or provocative content. If our
                team
                finds anyone violating the policies then their account gets suspended with an immidiate effect until we
                hear
                back from them with an assurance that all the compliances will be followed diligently.</p>
            <p>If you want to showcase your work to the world, come join with Blogginbow and explore the new world of
                Blogging with us.</p>
            <p>Thank You</p>
            <strong>Contact us at:</strong> <span>support@blogginbow.com</span>
        </div>
    </div>
</header>

<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/clean-blog.min.js"></script>