*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(216, 141, 62, 0.418);
    scroll-behavior:smooth;
    color: #1a202c;
}

ul {
    list-style: none;
}

a  {
    text-decoration: none;
    color: rgb(36, 58, 58);
}


body {
  background: #eee;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
  text-align:center;
  margin-top: 4em;
}

span {
    font-size: 0.95em;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
}

.updateinfo {
  padding: 40px ;
  min-width: 70vw;

}

/*------------------------------------------------------------------
[ Login Form ]*/

.log-form {
  width: 500px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
  position: relative; 
  margin-bottom: 45px; 
}

.log-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #4b4a4a;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.log-input:focus { outline: none; }

.log-form a {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
    color: #aaaaaa;
}

.left-align {
    float: left;
    text-align: left;
}

.right-align {
    float: right;
    text-align: right;
}



hgroup {
    color: rgb(248, 233, 195);
}

.container-log-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.log-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 250px;
  height: 50px;
  background-color: transparent;
  border-radius:7px;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 16px;
  color: rgb(44, 43, 43);
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.log-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 7px;
  background-color: #ecd083;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.log-form-btn:hover:before {
  background-color: #b6880a;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    background: transparent;
    border: none;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 24px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: none;
    width: 100%;
}

input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label {
    color: #9e9c9c;
    cursor: pointer;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    padding-left: 10px;
    padding-top: 6px;
    position: relative;
    text-transform: uppercase;
}

/* Signup form elements */
/* Radio Toolbar */

.log-input label {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2em;
    color : #858383;
    margin-left: 20px;
}
.radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
    letter-spacing: 0.15em;
      color: #6e6d6d ;
      display: inline-block;
      background-color: #fdf5dc;
      padding: 10px 20px;
      font-family: "Montserrat";
      font-size: 13px;
      border: 1px solid rgba(253, 209, 99, 0.877);
      border-radius: 4px;
  }
  
  .radio-toolbar label:hover {
    background-color: rgba(243, 208, 127, 0.877)    ;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px solid #444;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: rgb(245, 217, 125);
      border-color: rgba(163, 126, 5, 0.829);
      color:rgb(128, 99, 6) ;
  }

  /* ----------------------------------------------------------------------------- */
  /* ------------------------------PROFILE PAGE 1--------------------------------- */
  /* ----------------------------------------------------------------------------- */

  body{
    /* margin-top:20px; */
    color: #1a202c;
    text-align: left;
    /* background-color: #fdf5dc;     */
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

/* -------------------------------------------------------------- */
/* --------------------------Blog CMS --------------------------- */
/* -------------------------------------------------------------- */
.write-blog{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.blog-form {
  width: 60vw;
  margin: 30px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ta-body {
  height: 200px;
}

.ta-desc {
  height: 100px;
}

/* ----------------------------------Profile page edits-------------------------------- */
.main-body {
  margin-top: 50px;
}

.profile-body {
  /* height: 100%; */
  background-image: url('/img/home-bg.jpg');
  opacity: 80%;
}


/*----------------------- Errors and Messages ------------------------*/

.error{

  font-weight: 100;
  /* background:#ff9696; */
  color:rgb(252, 252, 252);
  text-shadow: blanchedalmond;
}

.error.show {
 
  color: rgb(255, 20, 20);
  padding: 10px;
  font-weight: 600;
  text-shadow: 1px 0px 3px rgba(247, 138, 138, 0.849);

  /* background:white; */
  transition: color 2s ease-in;
}

.msg {
  height:20px;
  font-weight: 500;
  /* background:#ff9696; */
  color:rgb(252, 252, 252);
  text-shadow: blanchedalmond;
}

.msg1 {
  display:block;
  color: rgb(255, 20, 20);
  font-weight: 500;
  text-shadow: 1px 0px 3px rgba(255, 28, 28, 0.849);
  /* background:white; */
  transition: color 0.6s ease-in;
}

/* ------------------------------BLOG FORM------------------------------ */

.blog-form{
  font-size: 18px;
  font-family: Montserrat Arial, Helvetica, sans-serif;
}

/* .blog-form textarea {
  font-size: 16px;
  
} */

.blog-form input, option, textarea {
  font-size: 16px;
}


/* ----------------Admin page settings--------------- */

.btn.status {
  min-width: 160px;
  padding: -15px -20px;
  margin-bottom: 10px;

}

.center {
  text-align: center;
}



/* ----------------------FOr displaying a blog---------------------- */

.gray{
  color: #4b4a4a;
}

.blog-show {
  /* margin: 80px auto; */
  text-align: center;
}

.post {
  margin: 100px 50px;
  border-radius: 5px;
  background-image: linear-gradient(rgba(41, 39, 36, 0.61), rgba(46, 40, 28, 0.808));
  color: whitesmoke;
  box-shadow: 2px 2px 5px 5px rgba(98, 128, 139, 0.884);
  padding: 10px 10px 30px 10px;
}

.blogpost-title {
  padding: 15px;
  font-size: 200% ;
  font-weight: 400;
}

.blogpost-desc {
  font-style:italic ;
  color: rgb(235, 178, 33);
  margin: -5px 0 30px 0;
}

.blogpost-content{
  padding-bottom: 20px;
  color: blue;
  border-radius: 5px;
  background-color: wheat;
  background-image: linear-gradient(rgba(253, 237, 213, 0.815), rgba(247, 226, 185, 0.808));
}

.blogpost-meta {
  padding-top: 10px;
  color: rgb(123, 205, 207);
}

.blogpost-genre {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(126, 247, 56);
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 3px 2px rgba(72, 250, 1, 0.548);
  /* background-color: rgba(99, 247, 131, 0.432); */
  text-shadow: 1px 1px 3px green;

}